.footer {
  padding-top: 0.5em;
  background-color: white;
}

.section {
  padding-top: 1.5em !important;
}

.navbar-item .brand {
  font-size: 16pt;
  font-weight: bold;
}

/*--------------------------------------------------------------------------*
* IBW specific classes (can be overridden in theme eventually)
*--------------------------------------------------------------------------*/

.ibw-brand {
  color: white;
  font-size: 140%;
  font-weight: bold;
}

.ibw-brand a {
  color: white;
}

.ibw-brand a:hover {
  color: white;
}

/** The main container for page content
 */
.ibw-page {

}

/** The header section of a page display
 */
.ibw-page-header {
  border-bottom: 1px solid black;
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
}

/** The name of the page in the header
 */
.ibw-page-name {
  font-size: 150%;
  font-weight: bold;
}

/** Style for creation/edited timestamp display
 */
.ibw-timestamp {
  font-weight: bold;
}

/** A datetime display
 */
.ibw-datetime {
  font-weight: normal;
  font-style: italic;
}

/** Page content container
 */
.ibw-content {
  padding-top: 1em;
}

/** Page view container (read only view)
 *
 * To override specific elements use selectors like '.ibw-content-view h1'
 */
.ibw-content-view {

}

/** Page edit container (editing view)
  */
.ibw-content-edit {

}

.ibw-edit-controls {
  padding-top: 1em;
}